.body{
    max-width:1520px; 
    margin-left:auto;
    margin-right: auto;
}
.header_table{
    display:grid;
    grid-template-columns: 8fr 1fr 2fr 2fr 2fr 2fr;
    margin-left:auto;
    margin-right: auto;
}
.logo{
    font-size:40px;
    margin-bottom:5px;
    cursor: pointer;
}
.header_text{
    margin-top:50px;
    margin-left:px;
    font-family: Arial Narrow, sans-serif;
    letter-spacing: 1pt;
    cursor: pointer;
    font-size:26px;
}
#aa{
    color:#4f4f4f;
}
#ab{
    color:#4f4f4f;
}
#ac{
    color:#4f4f4f;
}
#ad{
    color:#4f4f4f;
}
#ae{
    color:#4f4f4f;
}
.top_pic{
    display:grid;
    grid-template-columns: 5fr 2fr;
    grid-column-gap: 20px;
    margin-left:auto;
    margin-right: auto;
}
.pic{
    width:100%;
    height:400px;
}
.pic2{
    width:100%;
    height:400px;
    background: radial-gradient(circle farthest-corner at 100px 50px, #333232, black);
    position:relative;
}
.text_on_pic{
    top:430px;
    margin-left:10px;
    position:absolute;
    background-color: black;
    color:white;
    font-size:40px;
    line-height:60px;
    opacity: .7;
    font-family: Arial Narrow, sans-serif;
    letter-spacing: 2pt;
}
.main{
    display:grid;
    grid-template-columns: 2.5fr 2.5fr 2fr;
    grid-column-gap:20px;
}
.text_1{
    font-size: 40px;
    font-family: Arial Narrow, sans-serif;
}
.avarage_text{
    font-size:26px;
    
}
.read_more_container{
    background-color: black;
    width:180px;
}
.read_more_text{
    font-size: 28px;
    color:white;
    font-family: OCR A Std, monospace;
    font-weight: normal;
    margin-left:20px;
}
.png{
    width: 20px;
    opacity: .2;
}
#first_png{
    position:relative;
    transform: rotate(180deg);
}
#second_png{
    margin-left:400px;
    margin-top:100px;
}
.text_png{
    font-family:sans-serif;
    font-style: italic;
    width:380px;
    margin-left:25px;
    margin-bottom:0px;
    position:absolute
}     
