.body{
    max-width:1520px; 
    margin-left:auto;
    margin-right: auto;
}
.header_table{
    display:grid;
    grid-template-columns: 8fr 1fr 2fr 2fr 2fr 2fr;
    margin-left:auto;
    margin-right: auto;
}
.logo{
    font-size:40px;
    margin-bottom:5px;
    cursor: pointer;
}
.header_text{
    margin-top:45px;
    margin-left:60px;
    font-family: Arial Narrow, sans-serif;
    letter-spacing: 1pt;
    cursor: pointer;
    font-size:18px;
}
#aa{
    color:#4f4f4f;
}
#ab{
    color:#4f4f4f;
}
#ac{
    color:#4f4f4f;
}
#ad{
    color:#4f4f4f;
}
#ae{
    color:#4f4f4f;
}
.top_pic{
    display:grid;
    grid-template-columns: 5fr 2fr;
    grid-column-gap: 5px;
    margin-left:auto;
    margin-right: auto;
}
.pic{
    width:100%;
    height:400px;
}
.pic2{
    width:100%;
    height:400px;
    background: radial-gradient(circle farthest-corner at 100px 50px, #333232, black);
    position:relative;
}
.text_on_pic{
    top:430px;
    margin-left:10px;
    position:absolute;
    background-color: black;
    color:white;
    font-size:40px;
    line-height:60px;
    opacity: .7;
    font-family: Arial Narrow, sans-serif;
    letter-spacing: 2pt;
}
.main{
    display:grid;
    grid-template-columns: 2.5fr 2.5fr 2fr;
}